.dropdown-container {
    width: 100%;
    margin: 15px auto;
}

.dropdown-contain {
    width: 100%;
    margin-bottom: 20px;
}

.dropdown-animation{
    background-color: #FF6060;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}


.dropdown-title {
    width: 30%;
    color: white;
    font-size: 13px;
    padding: 5px 0 5px 10px;
    margin: 0;
}

.dropdown-vector{
    width: 15px;
    height: 9px;
    margin-right: 10px;
}

.dropdown-text {
    width: 100%;
    background-color: #F6F6F6;
    color: #FF6060;
    border-radius: 0 0 10px 10px;
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    padding-top: 15px;
    padding-bottom: 15px;
}

@media screen and (min-width: 600px) {
    .dropdown-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .dropdown-contain{
        width: 80%;
    }

    .dropdown-title{
        width: 101%;
        font-size: 24px;
    }

    .dropdown-text{
        font-size: 24px;
        padding: 10px;
        line-height: 34px;
    }

    .dropdown-vector{
        width: 23px;
        height: 14px;
    }
    .dropdown-animation{
        width: 102%;
    }
    
}