.housing-container {
    width: 100%;
    margin-bottom: 100px;
}

.gallery-container {
    width: 90%;
    margin: 0 auto;
}

.data-container {
    width: 100%;
}

.title {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    font-weight: 500;
    color: #FF6060;
}

.location {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    font-weight: 500;
    color:  #FF6060;
}

.tag-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;

}

.tag {
    background-color: #FF6060;
    color: white;
    border-radius: 5px;
    font-size: 10px;
    font-weight: 500;
    margin-right: 15px;
    width: 25%;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.rating-host-container{
    margin-top: 15px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.host-container{
    width: 40% ;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.host-name{
    font-size: 12px;
    font-weight: 500;
    color: #FF6060;
    text-align: end;
    margin-right: 15px;
}

.host-picture {
    width: 40%;
    border-radius: 50%;
} 

.red-star{
    margin-right: 5px;
}

.grey-star {
    width: 14px;
    height: 13px;
    margin-right: 5px;
}

.description-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.annimation {
    background-color: #FF6060;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.description-title {
    font-size: 13px;
    font-weight: 500;
    margin-left: 10px;
} 

.description-vector {
    width: 6%;
    margin-right: 10px;
}

.description-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #FF6060;
    background-color: #F6F6F6;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
}

.equipment-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #FF6060;
    background-color: #F6F6F6;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 600px) {
    .title {
        font-size: 36px;
    }

    .location {
        font-size: 18px;
    }

    .tag {
        font-size: 14px;
    }

    .infos-container {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        
    }

    .title-location-tag-container {
        width: 50%;
    }

    .rating-host-container {
        width: 50%;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: flex-end;
    }

    .rating-container {
        margin-top: 20px;
    }

    .description-block {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    .description-container {
        margin-top: 25px;
        margin-bottom: 25px;
        width: 45%;
    }

    .description-vector {
        width: 24px;
        height: 14px;
    }

    .description-text {
        font-size: 18px;
    }

    .equipment-text {
        font-size: 18px;
    }
}
