.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.links-container {
    width: 45%;
    display: flex;
    justify-content: space-between;
}

.link {
    text-decoration: none;
    color: #FF6060;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
}

.link:hover {
    border-bottom: 1px solid #FF6060;
}

@media screen and (min-width: 600px) {
    .links-container{
        width: 20%;
    }

    .link{
        font-size: 17px;
        text-transform: none;
    }
}