.banner-about-container {
    width: 90%;
    margin: 0 auto;
}

.banner-about-cover {
    width: 100%;
    border-radius: 10px;
    height: 250px;
    filter: brightness(70%);
    object-fit: cover;
}